{% extends "base.html" %}

{% block head %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function() {
        $("#id_name").autocomplete({
            source: "{% url 'database_search_artist' %}",
            minLength: 2,
        });
    });
</script>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Submit"/>
</form>
{% endblock %}

<a href="{% url 'artists_list' %}">Back to the list</a>